<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
	<servlet-name>LoginControl</servlet-name>
	<servlet-class>com.experts.TransAssist.controllers.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginControl</servlet-name>
	<url-pattern>/loginController</url-pattern>
	</servlet-mapping>
	
<servlet>
	<servlet-name>UserAccSettControl</servlet-name>
	<servlet-class>com.experts.TransAssist.controllers.UserAccSettController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserAccSettControl</servlet-name>
	<url-pattern>/userAccSett</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>DocAccSettControl</servlet-name>
	<servlet-class>com.experts.TransAssist.controllers.DocAccSettController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DocAccSettControl</servlet-name>
	<url-pattern>/docAccSett</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>ForgotPassController</servlet-name>
	<servlet-class>com.experts.TransAssist.controllers.ForgotPassController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgotPassController</servlet-name>
	<url-pattern>/forgot</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>AccSettingControl</servlet-name>
	<servlet-class>com.experts.TransAssist.controllers.AccSettingController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccSettingControl</servlet-name>
	<url-pattern>/accSetting</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>SignOut</servlet-name>
	<servlet-class>com.experts.TransAssist.controllers.SignOutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignOut</servlet-name>
	<url-pattern>/signOut</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>SendReq</servlet-name>
	<servlet-class>com.experts.TransAssist.controllers.SendReqController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendReq</servlet-name>
	<url-pattern>/sendReq</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>SearchDoc</servlet-name>
	<servlet-class>com.experts.TransAssist.controllers.SearchDocController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchDoc</servlet-name>
	<url-pattern>/SearchDocController</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>Search</servlet-name>
	<servlet-class>com.experts.TransAssist.controllers.SearchUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
	<url-pattern>/SearchUserController</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>RateController</servlet-name>
	<servlet-class>com.experts.TransAssist.controllers.RateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RateController</servlet-name>
	<url-pattern>/rateNreview</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>ChattingControl</servlet-name>
	<servlet-class>com.experts.TransAssist.controllers.ChattingController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChattingControl</servlet-name>
	<url-pattern>/chat</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>ChattingControlNew</servlet-name>
	<servlet-class>com.experts.TransAssist.controllers.ChattingNewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChattingControlNew</servlet-name>
	<url-pattern>/chatNew</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>CheckDoc</servlet-name>
	<servlet-class>com.experts.TransAssist.controllers.CheckDocController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckDoc</servlet-name>
	<url-pattern>/checkDoc</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>CheckUser</servlet-name>
	<servlet-class>com.experts.TransAssist.controllers.CheckUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckUser</servlet-name>
	<url-pattern>/checkUser</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>ChattingControlUserNew</servlet-name>
	<servlet-class>com.experts.TransAssist.controllers.ChattingNewUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChattingControlUserNew</servlet-name>
	<url-pattern>/chatNewUser</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>UserReg</servlet-name>
	<servlet-class>com.experts.TransAssist.controllers.UserRegController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserReg</servlet-name>
	<url-pattern>/userReg</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>DocReg</servlet-name>
	<servlet-class>com.experts.TransAssist.controllers.DocRegController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DocReg</servlet-name>
	<url-pattern>/docReg</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>PicUploadController</servlet-name>
	<servlet-class>com.experts.TransAssist.controllers.PicUploadController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PicUploadController</servlet-name>
	<url-pattern>/uploadPic</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>BlogUploadController</servlet-name>
	<servlet-class>com.experts.TransAssist.controllers.BlogUploadController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BlogUploadController</servlet-name>
	<url-pattern>/uploadBlog</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
